.listCreate{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;

    input{
        padding: 10px 10px;
        width:50%;
    }

    button{
        padding: 10px 10px;
        width:20%;
        border: none;
        margin-top: 20px;
    }
}


.searchMirror{
    animation: mirror 3s  linear infinite alternate;
    
}

@keyframes mirror {
    to{
       transform: translateY(0px)
    }from{
       transform: translateY(20px)
    }
}
