.down{
    height: 75%;
    width: 100%;
    background-color:   rgba(25, 24, 24, 0.735);
    color: white;
    padding:10px 10px;
    margin-top: 10px;
    border-radius: 10px;
    
    .sidecols{
        height: 78%;
        margin-top: 8%;
        overflow-y:scroll;

    &::-webkit-scrollbar{
        background-color: rgba(255, 255, 255, 0.146);
    }
    }
}