.cards{
    height:55vh;
    width:95%;
    padding:10px;
    background-color: rgba(41, 39, 39, 0.735);
    border-radius:10px;
}

.cards:hover{
    cursor: pointer;
    width: 98%;
    height:57vh;
    background-color: rgb(63, 57, 57);
    
    h6{
        font-size: larger;
    }
}

@media (max-width:650px) {

    .cards{
        width: 100%;

    }

    
}